@model IEnumerable<AdvancedRepository.Models.Classes.Products>

@{
    ViewData["Title"] = "RelatedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Related List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Category Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.Categories.CategoryName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a class="btn btn-secondary" asp-action="List">Back To List</a>
            </p>
        </div>
    </div>
</div>