@model IEnumerable<AdvancedRepository.DTOs.UnitList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Unit Id
            </th>
            <th>
                UnitName
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UnitId
                </td>
                <td>
                    @item.UnitName
                </td>

                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UnitId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
